## ML Zoom Camp 2022
### week 1 assignment

In [1]:
import numpy as np
import pandas as pd

### Question 1

What's the version of NumPy that you installed?

In [2]:
print(np.__version__)

1.20.3

Let's Load the data:

In [3]:
df = pd.read_csv('data.csv')

### Question 2

How many records are in the dataset?

In [4]:
print(len(df))

11914

### Question 3

Who are the most frequent car manufacturers (top-3) according to the dataset?

In [5]:
df
## see which labels we have

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [6]:
df['Make'].value_counts().head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

We can see that the top 3 car manufacturers in the dataset, in decending order, are - Chevrolet, Ford, Volkswagen.

### Question 4

What's the number of unique Audi car models in the dataset?

In [7]:
vals = df[df['Make']=='Audi'].nunique()
vals.Model

34

### Question 5

How many columns in the dataset have missing values?

In [8]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

We can manually count how many columns have missing values - 5.

### Question 6

   1. Find the median value of "Engine Cylinders" column in the dataset.
   2.  Next, calculate the most frequent value of the same "Engine Cylinders".
   3. Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
   4. Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

In [9]:
print(f'The Median value for Engine Cylinders is',df['Engine Cylinders'].median())
freq_num = df['Engine Cylinders'].mode()
print(f'The Most frequent value in Engine Cylinders is',freq_num)
df['Engine Cylinders'].fillna(freq_num,inplace=True)
print(f'The Median value for Engine Cylinders after change is',df['Engine Cylinders'].median())
df['Engine Cylinders'].isna().value_counts()

The Median value for Engine Cylinders is 6.0
The Most frequent value in Engine Cylinders is 0    4.0
dtype: float64
The Median value for Engine Cylinders after change is 6.0

False    11884
True        30
Name: Engine Cylinders, dtype: int64

We see that the median has not changed, but that is because fillna failed to change the dataset.

### Question 7
1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3.    Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the value of the first element of w?

In [10]:
lotus_cars = df[df['Make']=='Lotus']
X = lotus_cars[['Engine HP','Engine Cylinders']].drop_duplicates()
print(X)
XTX = X.T*X
print(XTX)

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0
                  3912  3913  3918  4216  4257  4259  4262  4292  4293  \
3912               NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3913               NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3918               NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4216               NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4257               NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4259               NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4262               NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4292               NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4293               NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
Engine Cylinders   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
Engine HP          NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

                  Engine Cylinders  Engine HP
3912                           NaN        NaN
3913                           NaN        NaN
3918                           NaN        NaN
4216                           NaN        NaN
4257                           NaN        NaN
4259                           NaN        NaN
4262                           NaN        NaN
4292                           NaN        NaN
4293                           NaN        NaN
Engine Cylinders               NaN        NaN
Engine HP                      NaN        NaN